@model ClassRecipes.Web.Areas.Recipes.Models.RecipePageModel

@{ 
    var hasNoImage = string.IsNullOrWhiteSpace(Model.Recipe.BackgroundImagePath);
    var noImageClass = hasNoImage ? "no-hero-image" : null;
}

<div class="hero-section @noImageClass">

    @Html.RecipeImage(Model.Recipe.BackgroundImagePath, "Blurred image of final dish", "hero-background-image blurred")

    <div class="section hero-content">
        <div class="container">
            <div class="row">
                <h1 class="header center col m10 push-m1 l8 push-l2">@Model.Recipe.Title</h1>
            </div>

            <div class="row center">
                <h5 class="header col s8 push-s2 m6 push-m3">@Model.Recipe.Intro</h5>
            </div>

            <div class="row">
                <div class="col s12 header-info-with-icons">
                    <h5 class="header-info-with-icon"><i class="small material-icons" title="Difficulty">sentiment_satisfied</i><span>@Model.Recipe.Difficulty</span></h5>
                    <h5 class="header-info-with-icon"><i class="small material-icons" title="Cook Time">hourglass_empty</i><span>@Model.Recipe.CookTime.ToReadableTimeSpan()</span></h5>
                    <h5 class="header-info-with-icon"><i class="small material-icons" title="Total Time">access_time</i><span>@Model.Recipe.TotalTime.ToReadableTimeSpan()</span></h5>
                </div>
            </div>

            <div class="row center section-button-row no-padding">
                <a href="#Start" class="btn-large brand-green-border-button lighten-3 z-depth-0">Get Started</a>
            </div>
        </div>
    </div>
</div>