@model ClassRecipes.Web.Areas.Recipes.Models.HomeRow

<div class="home-row">
    <div class="container">
        

        <div class="row">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <h2>@Model.Title</h2>
            }
        </div>

        <div class="row">
                @foreach (var recipe in Model.Recipes)
                {
                    <div class="col s6 m4 l4">
                        <a href="/recipe/@recipe.UrlName" class="card">
                            <div class="card-image">
                                @Html.RecipeImage(recipe.ThumbnailImage, recipe.Title)
                                <span class="card-title">@recipe.Title</span>
                            </div>
                            @*<div class="card-action">
                                <a href="/recipe/@recipe.UrlName">@recipe.Title</a>
                            </div>*@
                        </a>
                    </div>

                }
            </div>

            @if (!string.IsNullOrEmpty(Model.LinkText) && !string.IsNullOrEmpty(Model.LinkUrl))
            {
                <a href="@Model.LinkUrl">@Model.LinkText</a>
            }
        </div>


</div>